html {
    background-color: black;
    font-family: Helvetica;
    text-align: center;
    
}

.containerf {
    width: 100% ;
    height: 12em;
    border: 1px black solid;
    background-color: black;

    
}

.container,
.video, {
    display: inline-flex;
    justify-content: center;
    padding-bottom: 1em;
    flex-shrink: 1;

}

.container,
h1 {
    padding: 20px;
    letter-spacing: 1.25rem;
    font-size: 3rem;
    font-family: monospace;
}

.container,
 a {
    display: inline;
    text-decoration: none;
    padding: 20px;
    font-size: 2rem;
    color: green;
    color: white;
    transition: color 0.5s linear 0.1000ms;
    opacity: 0.6;
}

.container,
a:hover:before {
    color: green;
    text-decoration: none;
    
    
}

.container,
a:hover {
    color: green;
    transition: color 0.1000ms linear 0.1000ms;
    
}

.title {
    color: white;
    transition:  0.2s linear;
    letter-spacing: 0.25rem;
}

.title:hover {
    color: green; 
    transition: color 0.2s linear;
}

.container2,
.photo {
    display: flex;
    position: relative;
    right: 6rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contianer2, 
.photo:hover {
    
    right: -4rem;
    border: 1px white solid;
    border: 1px firebrick solid;
    transition: all 0.3s linear 0.2s ;
    
    
}