/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v5/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
}
    /* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v5/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');
}

@media only screen and (max-width: 400px;) {
    .container,
    .container1,
    .container2,
    .footer {overflow: hidden; width: 200rem;}
}




html {
    background-color: black;
    font-family: "Helvetica";
    text-align: center;
}


.container,
#title {
   
    margin-bottom: 10rem;
    font-family: Helvetica;
    font-size: 3rem;
   text-transform: uppercase;
   text-align: center;
    color: rgb(97, 224, 93);
    transition:  0.2s linear;
    letter-spacing: 0.05rem;
    
}

.container,
#title:hover {
    color: gold; 
    transition: all 0.2s linear;
    
}


.container1 {
    
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-flow: wrap row;
    flex-grow: 2;
}

    

.container1,
 a {    
    
    
    text-transform: uppercase;
    margin-left: 1rem;
    text-align: center;
    font-family: impact; 
     
     position: relative; 
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.4s linear 0.1000ms;
    opacity: 1.5;
    text-decoration: none;
    letter-spacing: 0.20rem;
}


.container1,
a:hover {

    
    color: rgba(217, 255, 0, 0.8);
    transition: all 0.1000ms linear 0.1000ms;
    
}

.container1,
.video {
    margin-top: 3rem;
    flex-shrink: 2;
    position: relative;
    right: -10rem;
    top: -2rem;
    transition: right 0.4s linear;
    
}

.container1,
.video:hover {
    right: 1.5rem;
    transition: right 0.4s linear 0.1s;
    
    
    
}

.midcontainer,
#h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .0rem;
    font-weight: 100;
    color: rgba(255, 251, 0, 0.8);
    width: 100%;
    font-size: 3rem;
    font-family: impact;
    transition: transform 1s;
}

.midcontainer,
#h1:hover {
    transform: scale(1.3);
    
}

.midcontainer,
.h4 {
    color: white;
    font-family: "Space Mono";
    font-weight: 400;
    letter-spacing: 0rem;
}

.container1,
i {
    display: flex;
    color: white;
    bottom: 4.75rem;
    position: relative;
    
}

.container2 {
    display: block;
}

.container2,
.photo {
    
    opacity: 0.9;
    display: inline-flex;
    position: relative;
    left: 4rem;
    width: 1220px;
    height: 480px;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0rem 0rem 0.00rem white;
    transition: opacity 0.2s linear;
    transition: all 0.4s linear;
}

.contianer2, 
.photo:hover {
    
    left: -4rem;
    border: 1px white solid;
    border: 5px gold solid;
    transition: all 0.3s linear 0.3s ;
    box-shadow: -1.5rem 2rem 0rem white;
    opacity: 1.5;
    
}

.footer,
.photo1 {
    
    display: inline-flex;
    transition: transform linear 0.5s;
    
}

.footer, 
.photo1:hover {
    
    transform: scale(1.2);
    transition: transform 0.3s linear 0.1s ;
    
    
}

.midcontainer,
h4 {
    color: rgba(97, 224, 93, 0.5);
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.footer {
    justify-content: center;
    flex-flow: wrap row;
    display: flex;
    margin-left: auto;
    align-items: center;
    text-align: center;
    font-family: Helvetica;
    text-transform: capitalize;
}

.footer,
#h4 {
    margin-top: 1rem;
}

.footer,
img {
    
    padding-right: 1rem;
    color: gold;
}

.copy {
    color: white;
    text-align: left;
}
